.court {
  @apply relative grid;
  @apply border-2 border-[var(--background-color)];
  @apply h-full min-h-[100dvh] w-screen overflow-x-hidden;

  grid-template-areas:
    "left top    right"
    "left main   right"
    "left bottom right";
  grid-template-rows: 2.5rem auto 2.5rem;
  grid-template-columns: 1.25rem calc(100% - 2.5rem) 1.25rem;
}

.court:before {
  @apply absolute top-0 left-0 right-0 bottom-0 z-[-1] bg-[var(--wood-color)];
  content: "";
  background-image: url("/wood-90.svg");
  background-size: 24rem;
}

.main {
  @apply h-full w-full max-w-full flex flex-col border-2 border-[var(--background-color)];
  @apply p-2 md:p-5 transition-[padding] duration-100;

  grid-area: main;
}

.main > section {
  @apply grow w-content max-w-full mx-auto;
}

.top,
.bottom,
.left,
.right {
  @apply overflow-clip paint border-0;
}

.top {
  grid-area: top;
}

.top,
.bottom {
  @apply flex justify-between items-center gap-2;
}

.bottom {
  grid-area: bottom;
  padding-bottom: env(safe-area-inset-bottom);
}

.bottom a {
  transform: rotate(-180deg);
}

.courtLogo {
  @apply flex w-full items-center min-w-fit;
}

.courtLogo a {
  @apply no-underline;
}

.courtLogoStretch {
  @apply block text-lg;
  transform: scaleY(2);
}

.leagueLogo {
  @apply text-theme overflow-clip;
}

.espnLogo {
  @apply text-[var(--background-color)] flex items-center gap-1 overflow-clip;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
