.court {
  @apply relative grid;
  @apply border-2 border-[var(--background-color)];
  @apply h-full min-h-[100dvh] w-screen;

  grid-template-areas:
    "left top    right"
    "left main   right"
    "left bottom right";
  grid-template-rows: 2.4rem auto 2.4rem;
  grid-template-columns: 1.2rem auto 1.2rem;
}

.court:before {
  @apply absolute top-0 left-0 right-0 bottom-0 z-[-1] bg-[var(--wood-color)];
  content: " ";
  background-image: url("/wood.svg");
  background-size: 32rem;
}

.main {
  @apply h-full w-full flex flex-col items-center p-2 border-2 border-[var(--background-color)];
  grid-area: main;
}

.main > section {
  @apply grow w-full max-w-content;
}

.top,
.bottom,
.left,
.right {
  @apply overflow-clip paint border-0;
}

.top {
  grid-area: top;
}

.top,
.bottom {
  @apply text-theme text-lg flex justify-between items-center gap-2;
}

.bottom {
  grid-area: bottom;
  padding-bottom: env(safe-area-inset-bottom);
}

.bottom a {
  transform: rotate(-180deg);
}

.courtLogo {
  @apply flex w-full items-center;
}

.courtLogo a {
  @apply no-underline;
}

.courtLogoStretch {
  @apply block text-lg;
  transform: scaleY(2);
}

.leagueLogo {
  @apply text-theme overflow-clip;
}

.espnLogo {
  @apply text-[var(--background-color)] flex items-center gap-1 overflow-clip;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
