@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #e03a3e;
  --wood-color: #ce884d;
  --foreground-color: #000000;

  --color-beige-100: 255, 239, 214;

  /* @apply text-[12px] sm:text-[16px] transition-[font-size] duration-100; */
}

a {
  @apply underline;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: var(--foreground-color);
  background-color: var(--theme-color);
  overscroll-behavior: none;
}

button {
  @apply disabled:cursor-not-allowed px-2 border-[0.25rem] border-transparent;
}

input {
  @apply bg-beige-100;
}

input[type="checkbox"] {
  margin: auto;
  height: 1em;
  width: 1em;
}

code {
  @apply bg-black bg-opacity-50 text-beige-100 rounded-sm px-[0.25em] mx-[0.1em];
}
