@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #e03a3e;
  --wood-color: #ce884d;
  --foreground-color: #000000;
  /* --background-color: #ffefd6; */

  @apply text-[13px] md:text-[16px] transition-[font-size] duration-100;
}

a {
  @apply underline;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: var(--foreground-color);
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-color: var(--theme-color);
  overscroll-behavior: none;
}

.button {
  @apply plaque px-2 disabled:cursor-not-allowed;
}

input {
  @apply bg-beige-100;
}
