.tableContainer {
  /* hack to fix scrollbar under stickies in safari 
     https://stackoverflow.com/questions/67076468/why-scrollbar-is-behind-sticky-elements-in-ios-safari
  */

  -webkit-transform: translateZ(0);
}

.leaderboardTable {
  @apply my-2;
}

.leaderboardTable thead tr {
  background-color: black;
}

/* i used this clunky shadow system because border doesn't work well with sticky positioning in safari */
.leaderboardTable thead tr > * {
  box-shadow: inset 0 -0.05rem #34302c;
}

.leaderboardTable tbody tr > * {
  box-shadow: inset 0 0.05rem #34302c, inset 0 -0.05rem #34302c;
}

.leaderboardTable tbody tr:last-child > * {
  box-shadow: inset 0 0.05rem #34302c;
}

.leaderboardTable tbody tr:nth-child(odd) {
  background-color: #1a1816;
}

.leaderboardTable tbody tr:nth-child(even) {
  background-color: black;
}

.leaderboardTable .firstColumn {
  @apply sticky left-0 z-10 pl-4;

  background-color: inherit;
}
