.tableContainer {
  /* hack to fix scrollbar under stickies in safari 
     https://stackoverflow.com/questions/67076468/why-scrollbar-is-behind-sticky-elements-in-ios-safari
  */

  -webkit-transform: translateZ(0);
}

.leaderboard thead tr {
  background-color: black;
}

.leaderboard tbody tr:nth-child(odd) {
  background-color: #1a1816;
  border-top: 0.1rem solid #34302c;
  border-bottom: 0.1rem solid #34302c;
}

.leaderboard tbody tr:nth-child(even) {
  background-color: black;
}

.leaderboard .firstColumn {
  @apply sticky left-0 z-10 pl-4;

  background-color: inherit;
  border: inherit;
}
